.todo-item__text {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: rgb(7, 42, 24);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .todo-item__text {
    font-size: 14px;
    margin: 0;
    align-self: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .todo-item__text {
    font-size: 12px;
  }
}
