.form__save-button {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  appearance: none;
  box-sizing: border-box;
  display: block;
  border: none;
  background-color: rgb(6, 120, 196);
  color: white;
  height: 40px;
  width: 80%;
}

.form__save-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .form__save-button {
    font-size: 14px;
  }
}
